common/home/subnut/.vim/.netrwhist
common/home/subnut/.vim/autoload/plug.vim
common/home/subnut/.zsh/OMZ_snippets
common/home/subnut/.config/bspwm/desktop_manager
common/home/subnut/.vim/black
linux/home/subnut/.local/bin/get_volume
linux/Artix/PKGBUILDs/*/*
!linux/Artix/PKGBUILDs/*/PKGBUILD
